<ion-view title="Dashboard">
    <ion-content class="padding dashboard">
        <h1>Dash</h1>

        <div class="button-bar">
            <a class="button button-icon icon ion-settings"></a>
            <a class="button button-icon facebook"></a>
            <a class="button button-icon icon ion-settings"></a>
        </div>

        <div class="button-bar">
            <a class="button button-icon icon ion-settings"></a>
            <a class="button button-icon icon ion-settings"></a>
        </div>
    </ion-content>
</ion-view>
