<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{item.name}}">
    <div class="app-header">
        <div id="logo"></div>
        <div id="app-logo"></div>
    </div>
  <ion-content class="padding shifted-down" has-header="true">

      <div id="news-detail">
        <h3>{{item.name}}</h3>
        <p>
          {{item.value}}
          <br>
          <span>
            <a ng-click="openDetails($event)" href="{{item.link}}">leggi</a>
          </span>
        </p>
      </div>
  </ion-content>
    <div class="app-background">
        <div id="bg-right"></div>
    </div>
</ion-view>
