<ion-view title="Tappe Truck">
    <div class="app-header">
        <div id="logo"></div>
        <div id="app-logo"></div>
    </div>
  <ion-content id="truck" class="padding shifted-down uber-alles" has-header="true">
       <div id="truck-container">
       	<div id="truck-content">
        	<img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Europe_geological_map-en.jpg" width="2000" zoomable pinch-zoom id="image-scrollable">
        </div>
       </div>

  </ion-content>
    <div class="app-background">
        <div id="bg-right"></div>
    </div>
</ion-view>
