<ion-view title="News ed Eventi">
    <div class="app-header">
        <div id="logo"></div>
        <div id="app-logo"></div>
    </div>
    <ion-content class="shifted-down" has-header="true">
        <ion-list >
            <ion-item ng-repeat="item in news" type="item-text-wrap" href="#/tab/news/details/{{item.id}}">
                {{item.name}}
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="app-background">
        <div id="bg-right"></div>
    </div>
</ion-view>
